body{
    background-image: url(../fondo.png);
}
.cuadro{
    width: 99%;
    height: 25rem;
    border: 5px solid rgb(0, 0, 0);
    background-image: url(../fondo_pta.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    position: relative;
    margin-top: 0;
    border-radius: 25px;
    box-shadow: black 20px 20px 20px;
    color: white;
}
.cuadro p{
    background-color: rgba(0, 0, 0, 0.5);
    width: 20%;
    margin: auto;
}
header {
    border-radius: 25px;
    margin: auto;
    text-align: center;
    height: 30%;
}
{

}
h1{
    text-align: center;
    display: block;
    margin: 2rem auto;
    width: 100%;
    font-size: 130%;
    color: black;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.493);
}
h2{
    margin-top: 25px;
    text-align: center;
    color: white;
}
nav{
    padding: 10px;
    margin: auto;
}
nav ul{
    margin: auto;
    padding: 20px;
    display: inline;
}
nav ul li{
    display: inline;
    padding: 20px;
    margin: auto;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: inherit;
    text-align: center;
    border: solid 5px rgba(23, 131, 19, 0.527);
    background-color: rgba(255, 255, 255, 0.486);
}
nav ul li a:hover {
    color: red;
}
.polaroid{
    margin-left: 4%;
    float: left;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20%;
    height: 20%;

}
.container{
    text-align: center;
    padding: 10px 20px;
}
img {width: 100%}
img:hover{opacity: 0.5;}

#card-text{
    text-align: center;
}
main{
    margin: auto;
    display:block;
}
@media only screen and (max-width:500px){
    div.polaroid{width:100%;
                 margin-bottom: 4%;       
    }
}